body {
    font-family: Arial, sans-serif;
    background: #eef3ff;
    padding: 20px;
    text-align: center;
}

#contenedorTarjetas {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    margin-top: 20px;
}

/* Tarjeta */
.tarjetaPokemon {
    background: white;
    width: 170px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.tarjetaPokemon img {
    width: 120px;
    margin-bottom: 10px;
}

.tarjetaPokemon p {
    margin: 6px 0;
    font-weight: bold;
    color: #333;
}

/* Botones */
.botones {
    margin-top: 25px;
}

button {
    padding: 8px 16px;
    border: none;
    background: #4c6aff;
    color: white;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
}

button:disabled {
    background: #9daaff;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background: #3d55cc;
}