body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
}

#contenedorBusqueda {
    margin-bottom: 20px;
}
#cardPokemon {
    background: rgba(255, 255, 255, 0.938);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(255, 185, 54, 0.719);
    margin-top: 20px;
}
#cardPokemon img {
    width: 150px;
}
#cardPokemon p {
    font-size: 16px;
    margin: 5px 0;
}
input {
    padding: 8px;
    width: 200px;
}
button {
    padding: 8px 15px;
    border: none;
    background: #1a1919;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #a400b3;
}